<launch>

<arg name="rtabmapviz" default="true"/>
<arg name="rviz"       default="false"/>

<include file="$(find realsense2_camera)/launch/rs_camera.launch">
   <arg name="align_depth"   value="true"/>
   <arg name="enable_sync"   value="true"/>
   <arg name="depth_fps"     value="5"/>
   <arg name="color_fps"     value="5"/>

</include>

<include  file="$(find rtabmap_ros)/launch/rtabmap.launch">
   <arg name="rtabmap_args"      value="--delete_db_on_start"/>
   <arg name="rgb_topic"         value="/camera/color/image_raw"/>
   <arg name="depth_topic"       value="/camera/aligned_depth_to_color/image_raw"/>
   <arg name="camera_info_topic" value="/camera/color/camera_info"/>
   <arg name="visual_odometry"   value="True"/>
   <arg name="approx_sync"       value="false"/>
   <arg name="frame_id"          value="camera_link"/>
   <arg name="rtabmapviz"        value="$(arg rtabmapviz)"/>
   <arg name="rviz"              value="$(arg rviz)"/>
</include>
</launch>
