<launch>

<arg name="rtabmapviz" default="true"/>
<arg name="rviz"       default="false"/>

<node pkg="nodelet" type="nodelet" name="manager_H" args="manager" output="screen">
   <param name="num_worker_threads" value="16" />
</node>

<!-- 生成一个 image_proc/rectify nodelet 来校正 RGB 图像 -->
<node pkg="nodelet" type="nodelet" name="rectify_rgb_H"
      args="load image_proc/rectify manager_H --no-bond"
      respawn="true">
   <remap from="image_mono"  to="/camera/color/image_raw" />
   <param name="interpolation"  value="0" />
   <param name="queue_size"  value="2" />
   <remap from="camera_info"  to="/camera/color/camera_info" />
   <remap from="image_rect"  to="/camera/color/image_rect" />
</node>

<!-- 生成一个 image_proc/rectify nodelet 来校正深度图像 -->
<node pkg="nodelet" type="nodelet" name="rectify_depth_H"
      args="load image_proc/rectify manager_H --no-bond"
      respawn="true">
   <remap from="image_mono"  to="/camera/aligned_depth_to_color/image_raw" />
   <param name="interpolation"  value="0" />
   <param name="queue_size"  value="2" />
   <remap from="camera_info"  to="/camera/color/camera_info" />
   <remap from="image_rect"  to="/camera/aligned_depth_to_color/image_rect" />
</node>


<include file="$(find realsense2_camera)/launch/rs_camera.launch">
   <arg name="align_depth"   value="true"/>
   <arg name="enable_sync"   value="true"/>
   <arg name="depth_fps"     value="5"/>
   <arg name="color_fps"     value="5"/>
   <arg name="manager"     value="manager_H"/>
</include>

<include  file="$(find rtabmap_ros)/launch/rtabmap.launch">
   <arg name="rtabmap_args"      value="--delete_db_on_start"/>
   <arg name="rgb_topic"         value="/camera/color/image_rect"/>
   <arg name="depth_topic"       value="/camera/aligned_depth_to_color/image_rect"/>
   <arg name="camera_info_topic" value="/camera/color/camera_info"/>
   <arg name="visual_odometry"   value="True"/>
   <arg name="approx_sync"       value="false"/>
   <arg name="frame_id"          value="camera_link"/>
   <arg name="rtabmapviz"        value="$(arg rtabmapviz)"/>
   <arg name="rviz"              value="$(arg rviz)"/>
</include>
</launch>
