<?xml version="1.0"?>
<!--
 Copyright (c) Microsoft Corporation. All rights reserved.
 Licensed under the MIT License.
 -->

<robot name="azure-kinects" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="white">
    <color rgba="0.9 0.9 0.9 1" />
  </material>

  <link name="/H_camera_base">
    <visual>
      <origin xyz="0. 0. 0." />
      <geometry>
        <box size="0.0994 0.0996 0.023" />
      </geometry>
      <material name="white" />
    </visual>
  </link>

  <link name="/M_camera_base">
    <visual>
      <origin xyz="0. 0. 0." />
      <geometry>
        <box size="0.0994 0.0996 0.023" />
      </geometry>
      <material name="white" />
    </visual>
  </link>
  
  <link name="/L_camera_base">
    <visual>
      <origin xyz="0. 0. 0." />
      <geometry>
        <box size="0.0994 0.0996 0.023" />
      </geometry>
      <material name="white" />
    </visual>
  </link>

  <link name="/base_frame">
    <visual>
      <origin xyz="0. 0. 0." />
      <geometry>
        <box size="0.0994 0.0996 0.023" />
      </geometry>
      <material name="white" />
    </visual>
  </link>

<!--
  origin是 child 相对于 parent 的初始位置和方向
  child 坐标系下的点，可以通过左乘的方式来变换到 parent 下
  箭头由 child 指向 parent
 --> 

  <joint name="base_to_cameraH_tf" type="fixed">
    <parent link="/M_camera_base" />
    <child link="/H_camera_base" />
<origin xyz="-0.105839 0.011434 0.544613" rpy="3.129876 -3.139335 -3.127100" />
  </joint>

  <joint name="base_to_cameraM_tf" type="fixed">
    <parent link="/L_camera_base" />
    <child link="/M_camera_base" />
<origin xyz="-0.200750 -0.000253 0.534473" rpy="3.140458 -2.933073 3.140895" />
  </joint>

  <joint name="base_to_cameraL_tf" type="fixed">
    <parent link="/base_frame" />
    <child link="/L_camera_base" />
<origin xyz=" 0 0 0.2 " rpy="3.12277 2.77351  3.1396" />
  </joint>


</robot>