<launch>
  <group ns="L_k4a" >
    <!-- 生成一个 nodelet 管理器 -->
    <node pkg="nodelet" type="nodelet" name="manager_L" args="manager" output="screen">
      <param name="num_worker_threads" value="32" />
    </node>

    <!-- 生成一个 image_proc/rectify nodelet 来校正 RGB 图像 -->
    <node pkg="nodelet" type="nodelet" name="rectify_rgb_to_depth_L"
          args="load image_proc/rectify manager_L --no-bond"
          respawn="true">
      <!-- image_mono：未矫正的的图像  image_rect经过校正后的图像  -->
      <remap from="image_mono"  to="rgb_to_depth/image_raw" />
      <param name="interpolation"  value="0" />
      <param name="queue_size"  value="1" />
      <!-- <remap from="camera_info"  to="rgb_to_depth/camera_info" /> -->
      <remap from="image_rect"  to="rgb_to_depth/image_rect" />
    </node>

    <!-- 生成一个 image_proc/rectify nodelet 来校正 RGB 图像 -->
    <node pkg="nodelet" type="nodelet" name="rectify_rgb_L"
          args="load image_proc/rectify manager_L --no-bond"
          respawn="true">
      <!-- image_mono：未矫正的的图像  image_rect经过校正后的图像  -->
      <remap from="image_mono"  to="rgb/image_raw" />
      <param name="interpolation"  value="0" />
      <param name="queue_size"  value="1" />
      <!-- <remap from="camera_info"  to="rgb_to_depth/camera_info" /> -->
      <remap from="image_rect"  to="rgb/image_rect" />
    </node>

    <!-- 生成一个 image_proc/rectify nodelet 来校正深度图像 -->
    <node pkg="nodelet" type="nodelet" name="rectify_depth_L"
          args="load image_proc/rectify manager_L --no-bond"
          respawn="true">
      <!-- image_mono：未矫正的的图像  image_rect经过校正后的图像  -->
      <remap from="image_mono"  to="depth/image_raw" />
      <param name="interpolation"  value="0" />
      <param name="queue_size"  value="1" />
      <!-- <remap from="camera_info"  to="depth/camera_info" /> -->
      <remap from="image_rect"  to="depth/image_rect" />
    </node>

    <!-- 加载相机并开始发布RGBD消息，并关闭了原始的点云输出（质量低），将由image_proc先处理数据后，再将RGBD合成点云 -->
    <!-- 加载的是单独开发的Nodelet节点K4AROSBridgeNodelet -->
    <!-- 720P 1080P 1440P 1536P 2160P 3072P -->
    <!-- NFOV_2X2BINNED 320x288 NFOV_UNBINNED 640x576 WFOV_2X2BINNED 512x512 WFOV_UNBINNED 1024x1024 -->
    <node pkg="nodelet" type="nodelet" name="k4a_ros_bridge_L"
          args="load Azure_Kinect_ROS_Driver/K4AROSBridgeNodelet manager_L --no-bond"
          respawn="true">
      <param name="depth_enabled"     value="true" />
      <param name="depth_mode"        value="NFOV_UNBINNED" />
      <param name="color_enabled"     value="true" />
      <param name="color_resolution"  value="720P" />
      <param name="fps"               value="5" />
      <param name="point_cloud"       value="false" />
      <param name="rgb_point_cloud"   value="false" />
      <param name="required"          value="true" />
      <!-- <param name="imu_rate_target"   value="1000" /> -->


      <!-- 设置相机串口号 000470313012(low) 000481112312(high)  000475513012(high) -->  
      <param name="sensor_sn"  type="string"  value="000475513012" />   
      <param name="tf_prefix"         value="L_" />
    </node>

    <!-- <node pkg="nodelet" type="nodelet" name="rgbd_sync_L" args="load rtabmap_ros/rgbd_sync manager_L">
      <remap from="rgb/image"         to="rgb_to_depth/image_rect"/>
      <remap from="depth/image"       to="depth/image_rect"/>
      <remap from="rgb/camera_info"   to="depth/camera_info"/>
    </node> -->

  </group>

</launch>
