<launch>

<arg name="HM" value="-0.187898 0.031639 0.648380 0.000671 0.068105 -0.010769 0.997620" />
<arg name="ML" value="-0.112980 0.031196 0.492533 0.014599 0.022841 -0.014998 0.999520" />
<arg name="LB" value="0 0 0.565 0.01096046  0.1018774  -0.00112253  0.99473595" />

<!-- H_k4a -->
  <param name="robot_description_H" command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro tf_prefix:=H_" />
  <!-- read the robot_description file -->
    <node name="robot_state_publisher_H" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_H">
  </node>

  <!-- H_k4a -> M_k4a -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraH_tf"
      args="$(arg HM) /M_camera_base /H_camera_base 100" />

<!-- M_k4a -->
  <param name="robot_description_M" command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro tf_prefix:=M_" />
    <node name="robot_state_publisher_M" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_M">
  </node>

  <!-- L_k4a -> H_k4a -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraM_tf"
      args="$(arg ML)  /L_camera_base /M_camera_base 100" />

<!-- L_k4a -->
  <param name="robot_description_L" command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro tf_prefix:=L_" />
    <node name="robot_state_publisher_L" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_L">
  </node>

  <!-- base_frame -> L_k4a -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraL_tf"
      args="$(arg LB) /base_frame /L_camera_base 100" />

</launch>
