<launch>

<arg name="HM" value="0.010385 0.004214 0.184909 0.002097 -0.068683 -0.001645 0.997635" />
<arg name="ML" value="0.017044 0.001624 0.297891 -0.002857 0.010897 0.000020 0.999937" />
<arg name="LB" value="0 0 0.30 -0.7056469795916479 0.00224158340280109 -0.0022323788277685934 0.7085565129062056" />

<!-- H_k4a -->
  <param name="robot_description_H" command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro tf_prefix:=H_" />
  <!-- read the robot_description file -->
    <node name="robot_state_publisher_H" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_H">
  </node>

  <!-- H_k4a -> M_k4a -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraH_tf"
      args="$(arg HM) /M_camera_base /H_camera_base 100" />

<!-- M_k4a -->
  <param name="robot_description_M" command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro tf_prefix:=M_" />
    <node name="robot_state_publisher_M" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_M">
  </node>

  <!-- L_k4a -> H_k4a -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraM_tf"
      args="$(arg ML)  /L_camera_base /M_camera_base 100" />

<!-- L_k4a -->
  <param name="robot_description_L" command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro tf_prefix:=L_" />
    <node name="robot_state_publisher_L" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_L">
  </node>

  <!-- base_frame -> L_k4a -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraL_tf"
      args="$(arg LB) /base_frame /L_camera_base 100" />

</launch>
