<launch>

<arg name="HM" value="-0.000184 -0.259808 -0.003562 0.001077 0.000241 -0.003948 0.999992" />
<arg name="ML" value="0.000293 -0.314929 -0.004174 0.000111 0.001714 0.006116 0.999980" />
<arg name="LB" value="0 0 0.30 -0.7056469795916479 0.00224158340280109 -0.0022323788277685934 0.7085565129062056" />

<!-- H_k4a -->
  <param name="robot_description_H" command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro tf_prefix:=H_" />
  <!-- read the robot_description file -->
    <node name="robot_state_publisher_H" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_H">
  </node>

  <!-- H_k4a -> M_k4a -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraH_tf"
      args="$(arg HM) /M_camera_base /H_camera_base 100" />

<!-- M_k4a -->
  <param name="robot_description_M" command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro tf_prefix:=M_" />
    <node name="robot_state_publisher_M" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_M">
  </node>

  <!-- L_k4a -> H_k4a -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraM_tf"
      args="$(arg ML)  /L_camera_base /M_camera_base 100" />

<!-- L_k4a -->
  <param name="robot_description_L" command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro tf_prefix:=L_" />
    <node name="robot_state_publisher_L" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_L">
  </node>

  <!-- base_frame -> L_k4a -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraL_tf"
      args="$(arg LB) /base_frame /L_camera_base 100" />

</launch>
