<launch>
<!-- 最上面相机的tf --> 
  <param name="robot_description_H"
            command="xacro $(find rtabmap_ros)launch/orchard/record_play/azure_kinect_record.urdf.xacro tf_prefix:=H_" />
  <!-- 用于读取相机的robot_description关节坐标系与位姿 -->
  <node name="robot_state_publisher_H" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_H">
      <param name="publish_frequency" value="200" />
      <param name="use_tf_static" value="false" />
  </node>

  <!-- 将相机与世界坐标系连接起来 -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraH_tf"
      args="-0.075229 0.019662 0.662904 0.004611 0.049434 -0.006345 0.998747 /M_camera_base /H_camera_base 200" />

<!-- 中间相机的tf -->
  <param name="robot_description_M"
            command="xacro $(find rtabmap_ros)launch/orchard/record_play/azure_kinect_record.urdf.xacro tf_prefix:=M_" />
  <!-- 用于读取相机的robot_description关节坐标系与位姿 -->
  <node name="robot_state_publisher_M" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_M">
      <param name="publish_frequency" value="200" />
      <param name="use_tf_static" value="false" />
  </node>

  <!-- 将相机与世界坐标系连接起来 --> 
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraM_tf"
      args="-0.121229 -0.011469 0.354715 -0.003516 -0.113140 0.003947 0.993565  /L_camera_base /M_camera_base 200" />

<!-- 最下面相机的tf -->
  <param name="robot_description_L"
            command="xacro $(find rtabmap_ros)launch/orchard/record_play/azure_kinect_record.urdf.xacro tf_prefix:=L_" />
  <!-- 用于读取相机的robot_description关节坐标系与位姿 -->
  <node name="robot_state_publisher_L" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=robot_description_L">
      <param name="publish_frequency" value="200" />
      <param name="use_tf_static" value="false" />
  </node>

  <!-- 将相机与世界坐标系连接起来 -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_cameraL_tf"
      args="0 0 0.21 -0.02931642  0.14987653  0.00444604  0.98825999 /base_frame /L_camera_base 200" />

</launch>