<launch>
  <group ns="L_k4a" >
    <node pkg="nodelet" type="nodelet" name="gen_L_cloud" args="load rtabmap_ros/point_cloud_xyz manager_L">
      <remap from="depth/image"       to="/L_k4a/depth/image_rect"/>
      <remap from="depth/camera_info" to="/L_k4a/depth/camera_info"/>
      <remap from="cloud"             to="/scan_cloud" />

      <param name="max_depth"  type="double" value="3.0"/>
      <param name="decimation"  type="double" value="4"/>
      <param name="voxel_size"  type="double" value="0.009"/>
      <param name="noise_filter_min_neighbors"  type="int" value="100"/>
      <!-- <param name="approx_sync" type="bool"   value="false"/>
      <param name="approx_sync_max_interval" type="double" value="0"/> -->
    </node>
  </group>

</launch>
